body,
html {
  height: 105%;
}
img:hover {
  opacity: 0.9;
}

h1 {
  font-family: "MuseoModerno", cursive;
}

/* NavBar */
/* .navbar:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.699);
} */
.navbrand {
  /* font-family: "Cormorant Upright", serif; */
  /* font-family: "Lemonada", cursive; */
  /* font-family: "Sriracha", cursive; */
  font-family: "MuseoModerno", cursive;
  font-size: 2.5rem;
}

.nav-link {
  font-family: "MuseoModerno", cursive;
}
/* NavBar */

/* Brackets go out */
.code > .item::before,
.code > .item::after {
  position: sticky;
  opacity: 0;
  transition: all 0.1s ease-in;
}

.code > .item:hover::after {
  content: ">";
  right: 0px;
  transform: translateX(-10px);
}
.code > .item:hover::before {
  content: "<";
  left: 0px;
  transform: translateX(10px);
}

.code > .item:hover::before,
.code > .item:hover::after {
  opacity: 1;
  transform: translateX(0px);
}
/* Brackets go out */

.start-btn {
  font-family: "Ubuntu Mono", monospace;
  font-size: 3rem;
  margin: 15rem 10rem;
}

/* section */
#profile {
  text-align: center;
}
/* section */
.profile-text {
  padding: 30% 2% 25%;
}
/* Background Image */
.bg-header {
  padding: 2% 5%;
  background-image: url("https://vinayajaygawade.github.io/My-WebSite/images/vinu-7.jpg");
  height: 150%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

/* Background Image */

/* Top Animation */
/* img {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
nav {
  animation: 1s ease-out 0s 1 slideInFromTop;
  padding: 30px;
}
.profile-text {
  animation: 1s ease-out 0s 1 FadedIn;
}

.start-btn {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes FadedIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* Top Animation */
